<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>721363196314-s7pmf63ahf5q5s0132q4r73uqod7t2b3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.721363196314-s7pmf63ahf5q5s0132q4r73uqod7t2b3</string>
	<key>API_KEY</key>
	<string>AIzaSyBwe3at5WJ3IhDYDrN7-1rLYnIX6ESC-_w</string>
	<key>GCM_SENDER_ID</key>
	<string>721363196314</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>quizApplication</string>
	<key>PROJECT_ID</key>
	<string>quizapp-f8579</string>
	<key>STORAGE_BUCKET</key>
	<string>quizapp-f8579.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:721363196314:ios:97a79b70ca50ce248dc223</string>
</dict>
</plist>